{{ if .Page.Site.Params.fancybox }}
<div class="post-img-view">
    {{ $img := .Page.Resources.GetMatch .Destination }}
    
    {{ if $img }}
        {{ $scaled := $img.Resize "600x q90 webp" }}
        <a data-fancybox="gallery" href="{{ $img.RelPermalink }}">
            <img src="{{ $scaled.RelPermalink }}" 
                 alt="{{ .Text }}" 
                 {{ with .Title }} title="{{ . }}" {{ end }} 
                 loading="lazy" />
        </a>
    {{ else }}
        <a data-fancybox="gallery" href="{{ .Destination | safeURL }}">
            <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} loading="lazy" />
        </a>
    {{ end }}
</div>
{{ end }}